php_flag display_startup_errors on
php_flag display_errors on
RewriteEngine on
RewriteCond %{REQUEST_URI} !\.(?:css|js)$ [NC]
RewriteRule ^booking.php                controllers/booking.php
RewriteRule ^bookings.php               controllers/bookings.php
RewriteRule ^confirmBooking.php         controllers/confirmBooking.php
RewriteRule ^confirmClient.php          controllers/confirmClient.php
RewriteRule ^confirmClients.php         controllers/confirmClients.php
RewriteRule ^confirmLicense.php         controllers/confirmLicense.php
RewriteRule ^confirmLicenses.php        controllers/confirmLicenses.php
RewriteRule ^index.php                  controllers/dashboard.php
RewriteRule ^login.php                  controllers/login.php
RewriteRule ^logout.php                 controllers/logout.php
RewriteRule ^loginUser.php              controllers/loginUser.php
RewriteRule ^register.php               controllers/register.php
RewriteRule ^registerUser.php           controllers/registerUser.php
RewriteRule ^registerStaff.php          controllers/registerStaff.php
RewriteRule ^registerInstructor.php     controllers/registerInstructor.php

