/* =============  Calendar  ============= */
.booking-open {
    background-color: #66bb6a;
}

.booking-warning {
    background-color: #ffc107;
}

.booking-full {
    background-color: #f44336;
}

.day {
    
    flex-grow: 1;
    margin: 0;
    padding: 0;
}

.day-name {
    text-align: center;
}

.day-number {
    height: 90px;
}

.month-navigation {
    font-size: 16px;
    height: 48px;
    line-height: 24px;
}

.month-navigation > span {
    margin-left: 10px;
}

.week {
    border: #eeeeee solid 1px;
    display: flex;
}



/* =============  Calendar End  ============= */

.flex-container {
  /* We first create a flex layout context */
  display: flex;
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  border-bottom: #dadce0 solid 1px;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-container:first-child {
    border-top: #dadce0 solid 1px;
}

.flex-item {
  border-right: #dadce0 solid 1px;
  width: 200px;
  height: 150px;
  line-height: 150px;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.flex-item:first-child {
    border-left: #dadce0 solid 1px;
}

