/* =============  Calendar  ============= */
.booking-open {
    background-color: #66bb6a;
}

.booking-warning {
    background-color: #ffc107;
}

.booking-full {
    background-color: #f44336;
}

.day-container {
  border-right: #dadce0 solid 1px;
  width: 200px;
  text-align: center;
}

.day-container:first-child {
    border-left: #dadce0 solid 1px;
}

.day-info {
    padding: 10px 5px;
    text-align: left;
}

.day-info a {
    float: right;
    padding: 10px 0;
}

.day-name {
    text-align: center;
}

.day-number {
    height: 90px;
}

.month-navigation {
    font-size: 16px;
    height: 48px;
    line-height: 24px;
    padding: 10px 20px 0 20px;
}

.month-navigation > span {
    margin-left: 10px;
}

.week-container {
  display: flex;
  border-bottom: #dadce0 solid 1px;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.week-container:first-child {
    border-top: #dadce0 solid 1px;
}



