/* =============  Generic Styles  ============= */
html, body {
    height: 100%;
}
body {
   margin: 0;
}
header, header > div {
    background-color: #1a73e8;
    color: #fff;
    font-size: 16px;
    height: 48px;
    line-height: 24px;
}
header > div {
    padding: 0 20px;
}

.logo {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    letter-spacing: 2px;
    position: absolute;
    font-size: 20px;
}

.logo img {
    filter: brightness(0) invert(1);
    position: absolute;
    top: 5px;
    width: 40px
}
.logo div {
    margin-left: 50px;
}

.logo-form {
    color: #1a73e8;
    font-size: 40px;
    text-decoration: none;
}

.logo-form img {
    height: 250px;
}

.session-menu {
    float: right;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    letter-spacing: 2px;
    position: relative;
}

.wrapper {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
    overflow-x: hidden;
}

.wrapper-container, .wrapper-form-container {
    padding-top: 50px; 
    text-align: center;
    margin: 0 auto;
    width: 50%;
}

.form-container-panel {
    margin: 50px 0;
}

.form-container-panel input {
    margin: 0 auto;
    width: 80%;
}

.form-container-panel input[type="submit"] {
    width: 82%;
}

.form-container-panel-footer {
    
}


/* =============  Generic Styles End  ============= */

/* =============  Login   ============= */



/* =============  Login End  ============= */

/* =============  Menu nav  ============= */
nav {    
  float: right;
  display: block;
  text-align: center;
}
nav ul {
  margin: 0;
  padding:0;
  list-style: none;
}
.nav a {
  display:block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  letter-spacing: 2px;
  position: relative;
}
.nav {
    vertical-align: top; 
    display: inline-block;
    border-radius:6px;
}
.nav li {
  position: relative;
}
.nav > li { 
  float: left; 
  border-bottom: 4px transparent solid; 
  margin-right: 1px; 
  width: 200px;
} 
.nav li li a { 
    color: #000;
    letter-spacing: 0;
    margin-top: 1px;
}
.nav li li:hover {
    background-color: #1a73e8;
    opacity: 0.9;
}

.nav li li a:hover {
    color: #fff;
}

.nav li a:first-child:nth-last-child(2):before { 
  content: ""; 
  position: absolute; 
  height: 0; 
  width: 0; 
  border: 5px solid transparent; 
  top: 50% ;
  right:5px;  
 }
 
 .nav ul {
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  left: -99999em;
}
.nav > li:hover > ul {
  left: auto;
  margin-top: 5px;
  min-width: 100%;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
  border-radius: 4px;
}
.nav > li li:hover > ul { 
  left: 100%;
  margin-left: 1px;
  top: -1px;
}
/* arrow hover styling */
.nav > li > a:first-child:nth-last-child(2):before { 
  border-top-color: #aaa; 
}
.nav > li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent; 
  border-bottom-color: #aaa;
  margin-top:-5px
}
.nav li li > a:first-child:nth-last-child(2):before {  
  border-left-color: #aaa; 
  margin-top: -5px
}
.nav li li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent; 
  border-right-color: orange;
  right: 10px; 
}
/* =============  Menu nav Ends       ============= */
